numpy
pillow
av

transformers==5.2.0
trl==0.22.2
tokenizers

bitsandbytes
xformers==0.0.32.post2

unsloth[base] @ git+https://github.com/unslothai/unsloth
unsloth_zoo[base] @ git+https://github.com/unslothai/unsloth-zoo

flash-linear-attention

torch==2.8.0
torchvision
torchcodec==0.7.0

datasets